/* resetear estilos  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2{
    text-align: center;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
/* anchura al main */
main{
    max-width: 960px;
    margin: 2rem auto;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:30px;
}

.card{
    width: 300px;
    box-shadow: 0 0 10px rgb(0, 0,255, 0.4);
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
}
.card img{
    width: 100%;
}

footer{
    text-align: center;
    padding: 1rem;
    background-color: cornflowerblue;
    color: white;
    position: absolute;
    width: 100%;
}

.coche{
    background-color: khaki;
}

.moto{
    background-color: greenyellow;
}

.furgoneta{
    background-color: aquamarine;
}